#前端
UnifiedSystemFrontend/node_modules/
node_modules/
dist/
npm-debug.log*
yarn-debug.log*

#Java后端
target/
*.class
*.log

#IDE
.idea/
.vscode/
*.iml

#系统
.DS_Store
Thumbs.db
UnifiedSystemFrontend/node_modules 
